.DS_Store
node_modules
/build
/.svelte-kit
/package
/coverage
/dist

# PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# IntelliJ files
.idea
*.iml

# Project-specific files
/tests/**/mocks/*
/tests/**/mocks/**/*
