# These files will be ignored by GitHub when it computes programming language statistics for this repository
/tests/**/mocks/* linguist-vendored
/tests/**/mocks/** linguist-vendored

# These files will be normalized on commit (CRLF converted to LF)
* text eol=lf

# These files will NOT be normalized
*.png -text
*.jpg -text
